{% extends 'base.html' %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop homepage template</p>
        </div>
    </div>
</header>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-10 col-md-8">
            <p class="justify-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum dapibus dolor volutpat nisi dictum molestie. Sed laoreet justo eu augue tincidunt, eget consectetur leo faucibus. Aliquam in enim posuere, mattis libero non, aliquam purus. Maecenas ultrices ex justo, id imperdiet risus scelerisque sed. Maecenas ut maximus nibh. Mauris auctor leo ut sem congue dictum. Cras condimentum arcu at libero elementum rutrum. Vivamus feugiat, nunc a aliquam molestie, nisl lectus ornare ligula, sed consequat massa dui vel urna. Phasellus sed arcu placerat lacus finibus mattis. Praesent semper interdum odio feugiat ultricies. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
                <br><br>
                In finibus nunc ut volutpat ullamcorper. Suspendisse at erat eget odio pretium blandit. Duis vitae nisi mauris. Mauris a pharetra nunc. Morbi id leo lacus. Ut in sodales nulla, a pellentesque eros. Nam consectetur sodales magna, sit amet rhoncus lorem. Integer venenatis elit massa, id commodo nisl pharetra eget. Cras tristique lectus ut ex sollicitudin, ac tempor risus rutrum. Ut eu nulla accumsan, efficitur metus non, posuere orci. Proin pellentesque, nibh eu fringilla pulvinar, libero urna venenatis nibh, a tincidunt felis tellus ac lacus. Suspendisse at eros orci. Pellentesque in malesuada lorem, sit amet elementum ante. Nam ut est vitae felis mollis porta.
                <br><br>
                Aliquam fermentum, enim vel fringilla eleifend, lacus mauris auctor quam, non interdum dolor ex imperdiet nisl. Sed ornare ipsum sed dolor porttitor varius sit amet imperdiet metus. Donec libero tellus, dictum a ex vehicula, porttitor fringilla diam. Praesent diam nibh, rutrum sit amet enim quis, sollicitudin ultricies dolor. Nulla ullamcorper congue enim a lacinia. Suspendisse potenti. Donec nec varius mi.
            </p>
        </div>
    </div>
</div>

{% endblock %}
